*{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
body{
  margin: 0%;
}
p{
    font-weight: bolder;
}
.require{
    color: red;
}
h1{
  text-align: center;
}
.container{
    margin: auto;
    width: 80%;

    padding: 10px;
    justify-content: center;
}

.para, table{
 width: 100%;
}
.para p, .email_div p{
  margin: 0;
}
.email_div{
  padding-bottom: 3%;
}
.starExp{
  margin-bottom: 0%;
}
.firstName_div, .lastName_div{
    width: 30%;
    padding-bottom: 3%;
}
.email_div input{
  width: 58.5%;
}
.firstName_div input, .lastName_div input{
    width: 95%;
}

.firstRating table, .secondRating table{
    width: 100%;
}
.firstRating, .secondRating{
  display: none;
}

.firstRating_select, .secondRating_select{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding-top: 0;
  padding-bottom: 7%;
}
.firstRating_select div, .secondRating_select div{
  display: flex;
  flex-direction: column;
  padding: 0.2em;
  padding-left: 0;
  
}
select{
  padding: 1em;
  text-align: center;
}
.firstRating_select>div>label, .secondRating_select>div>label{
  font-weight: bold;
}
.ratingPara{
  padding-top: 3%;
  padding-bottom: 0;
}
@media(min-width: 576px){
    .firstName_lastname{
        display: flex;
        flex-wrap: wrap;
    }
    .firstRating, .secondRating{
      display: flex;
    }
    .firstRating_select, .secondRating_select{
      display: none;
    }
}



/* Star rating */




.star-rating {

    margin: 25px 0 0px;
   font-size: 0;
   white-space: nowrap;
   display: inline-block;
   width: 175px;
   height: 35px;
   overflow: hidden;
   position: relative;
   background: url('data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB3aWR0aD0iMjBweCIgaGVpZ2h0PSIyMHB4IiB2aWV3Qm94PSIwIDAgMjAgMjAiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDIwIDIwIiB4bWw6c3BhY2U9InByZXNlcnZlIj48cG9seWdvbiBmaWxsPSIjREREREREIiBwb2ludHM9IjEwLDAgMTMuMDksNi41ODMgMjAsNy42MzkgMTUsMTIuNzY0IDE2LjE4LDIwIDEwLDE2LjU4MyAzLjgyLDIwIDUsMTIuNzY0IDAsNy42MzkgNi45MSw2LjU4MyAiLz48L3N2Zz4=');
   background-size: contain;
   margin-top: 5px;
 }
 .star-rating i {
   opacity: 0;
   position: absolute;
   left: 0;
   top: 0;
   height: 100%;
   width: 20%;
   z-index: 1;
   background: url('data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB3aWR0aD0iMjBweCIgaGVpZ2h0PSIyMHB4IiB2aWV3Qm94PSIwIDAgMjAgMjAiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDIwIDIwIiB4bWw6c3BhY2U9InByZXNlcnZlIj48cG9seWdvbiBmaWxsPSIjRkZERjg4IiBwb2ludHM9IjEwLDAgMTMuMDksNi41ODMgMjAsNy42MzkgMTUsMTIuNzY0IDE2LjE4LDIwIDEwLDE2LjU4MyAzLjgyLDIwIDUsMTIuNzY0IDAsNy42MzkgNi45MSw2LjU4MyAiLz48L3N2Zz4=');
   background-size: contain;
 }
 .star-rating input {

   opacity: 0;
   display: inline-block;
   width: 20%;
   height: 100%;
   margin: 0;
   padding: 0;
   z-index: 2;
   position: relative;
 }
 .star-rating input:hover + i,
 .star-rating input:checked + i {
   opacity: 1;
 }
 .star-rating i ~ i {
   width: 40%;
 }
 .star-rating i ~ i ~ i {
   width: 60%;
 }
 .star-rating i ~ i ~ i ~ i {
   width: 80%;
 }
 .star-rating i ~ i ~ i ~ i ~ i {
   width: 100%;
 }


 /*  */
 

 td, th{
    width: 9em;
    text-align: center;
 }
 th{
    text-align:start;
 }
 .ratingHead th{
    text-align: center;
 }
 tr:nth-child(even){
  background-color: #f1f1f1;
 }


 /*  */

 .commentsBox{
  display: flex;
  width: 100%;
  height: 10em
 }
 .submit{
  display: flex;
  justify-content: end;
  padding: 2% 0%; 
  
 }
 .submit input{
  padding: 1%;
  width: 20%;
  border-radius: 1em;
 }
 table{

  border-collapse: collapse;
 }

.thanks{
  background-color:darkslategrey;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: aquamarine;
}

.Default{
display: none;
}